<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/GarahoTheme"
        android:directBootAware="true">

        <service
            android:name=".GarahoImeService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="true"
            android:label="@string/title_settings"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SetupWizardActivity"
            android:exported="false"
            android:label="@string/title_setup_wizard"
            android:launchMode="singleTask" />

        <activity
            android:name=".settings.InputSettingsActivity"
            android:exported="false"
            android:label="@string/settings_input" />
        <activity
            android:name=".settings.ModeLoopActivity"
            android:exported="false"
            android:label="@string/input_mode_loop" />
        <activity
            android:name=".settings.KeymapSettingsActivity"
            android:exported="false"
            android:label="@string/settings_keymap" />
        <activity
            android:name=".settings.ResetSettingsActivity"
            android:exported="false"
            android:label="@string/settings_reset" />
        <activity
            android:name=".settings.UserDictActivity"
            android:exported="false"
            android:label="@string/settings_user_dict" />
        <activity
            android:name=".settings.PhraseActivity"
            android:exported="false"
            android:label="@string/settings_phrase" />
    </application>

</manifest>
