<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/GarahoTheme"
        android:directBootAware="true">

        <service
            android:name=".GarahoImeService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout|smallestScreenSize|fontScale|locale|layoutDirection|density">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="true"
            android:label="@string/title_settings"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.LauncherActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:taskAffinity="com.garaho.ime.launcher"
            android:theme="@style/GarahoLauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SetupWizardActivity"
            android:exported="false"
            android:label="@string/title_setup_wizard" />

        <activity
            android:name=".settings.KeymapPromptActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:theme="@style/GarahoPromptTheme" />

        <activity
            android:name=".settings.InputSettingsActivity"
            android:exported="false"
            android:label="@string/settings_input" />
        <activity
            android:name=".settings.ImeSetupActivity"
            android:exported="false"
            android:label="@string/ime_setup_title" />
        <activity
            android:name=".settings.ModeLoopActivity"
            android:exported="false"
            android:label="@string/input_mode_loop" />
        <activity
            android:name=".settings.KeymapSettingsActivity"
            android:exported="false"
            android:label="@string/settings_keymap" />
        <activity
            android:name=".settings.KeymapProfilesActivity"
            android:exported="false"
            android:label="@string/keymap_profiles_title" />
        <activity
            android:name=".settings.ResetSettingsActivity"
            android:exported="false"
            android:label="@string/settings_reset" />
        <activity
            android:name=".settings.RimeSettingsActivity"
            android:exported="false"
            android:label="@string/settings_rime" />
        <activity
            android:name=".settings.UserDictActivity"
            android:exported="false"
            android:label="@string/settings_user_dict" />
        <activity
            android:name=".settings.PhraseActivity"
            android:exported="false"
            android:label="@string/settings_phrase" />
        <activity
            android:name=".settings.AboutActivity"
            android:exported="false"
            android:label="@string/about_title" />
        <activity
            android:name=".settings.OpenSourceLicensesActivity"
            android:exported="false"
            android:label="@string/about_open_source_licenses" />
        <activity
            android:name=".settings.LicenseTextActivity"
            android:exported="false" />
        <activity
            android:name=".settings.EasterEggActivity"
            android:exported="false"
            android:label="@string/easter_egg_title" />
    </application>

</manifest>
